{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-sm">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-4 p-5">
            {% for c in cursos %}
                <div class="col-md-4 col-lg-4 d-flex align-items-stretch" >
                    <div class="card" style="width: 18rem;">
                        <img src="{{c.image}}" class="card-img" style="width: 100%;height: 12em;" alt="{{c.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{c.name|slice:":30"}}</h5>
                            <p class="card-text">{{ c.description|slice:":40" }}.</p>
                            <div class="text-center" style="width: 100%; ">
                                <a class="btn btn-primary" type="button" href="{{c.url}}" target="_blank"> Ir al canal</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CARD -->
            {%endfor%}
        </div>
    </div>
{% endblock %}
