/*! CSS Used from: Embedded */
div{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
.iSXWKJ{cursor:pointer;height:66px;color:rgb(255, 255, 255);text-align:center;position:relative;z-index:0;transition:all 400ms ease 0s;padding:10px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;font-weight:600;}
.iSXWKJ:hover{transform:scale(1.02);}
.iSXWKJ:hover::after{background-color:rgba(78, 52, 46, 0.8);}
.iSXWKJ::after{content:"";background-color:rgba(78, 52, 46, 0.64);position:absolute;inset:0px;z-index:-1;border-radius:4px;transition:all 400ms ease 0s;}
.iSXWKJ::before{content:"";background-image:url(https://img.swapcard.com?u=https%3A%2F%2Fcdn-api.swapcard.com%2Fpublic%2Fimages%2F3c4d74c1944f43628a7ea3e38424f050.png&q=0.8&h=100&m=crop);background-size:cover;background-position:center center;position:absolute;inset:0px;z-index:-2;border-radius:4px;}
@media screen and (min-width: 960px){
.iSXWKJ{height:70px;}
}

/*! CSS Used from: Embedded */
div{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
.fVpbFI{cursor:pointer;height:66px;color:rgb(255, 255, 255);text-align:center;position:relative;z-index:0;transition:all 400ms ease 0s;padding:10px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;font-weight:600;}
.fVpbFI:hover{transform:scale(1.02);}
.fVpbFI:hover::after{background-color:rgba(0, 204, 136, 0.8);}
.fVpbFI::after{content:"";background-color:rgba(0, 204, 136, 0.64);position:absolute;inset:0px;z-index:-1;border-radius:4px;transition:all 400ms ease 0s;}
.fVpbFI::before{content:"";background-image:url(https://img.swapcard.com?u=https%3A%2F%2Fcdn-api.swapcard.com%2Fpublic%2Fimages%2F09dea50246cb4661940f0381abd50443.png&q=0.8&h=100&m=crop);background-size:cover;background-position:center center;position:absolute;inset:0px;z-index:-2;border-radius:4px;}
@media screen and (min-width: 960px){
.fVpbFI{height:70px;}
}

/*! CSS Used from: Embedded */
div{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
.jGmZdx{cursor:pointer;height:66px;color:rgb(255, 255, 255);text-align:center;position:relative;z-index:0;transition:all 400ms ease 0s;padding:10px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;font-weight:600;}
.jGmZdx:hover{transform:scale(1.02);}
.jGmZdx:hover::after{background-color:rgba(63, 81, 181, 0.8);}
.jGmZdx::after{content:"";background-color:rgba(63, 81, 181, 0.64);position:absolute;inset:0px;z-index:-1;border-radius:4px;transition:all 400ms ease 0s;}
.jGmZdx::before{content:"";background-image:url(https://img.swapcard.com?u=https%3A%2F%2Fcdn-api.swapcard.com%2Fpublic%2Fimages%2F0963d4aff8a14a038dca2f21b3c158da.png&q=0.8&h=100&m=crop);background-size:cover;background-position:center center;position:absolute;inset:0px;z-index:-2;border-radius:4px;}
@media screen and (min-width: 960px){
.jGmZdx{height:70px;}
}

/*! CSS Used from: Embedded */
div{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
.GOjup{cursor:pointer;height:66px;color:rgb(255, 255, 255);text-align:center;position:relative;z-index:0;transition:all 400ms ease 0s;padding:10px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;font-weight:600;}
.GOjup:hover{transform:scale(1.02);}
.GOjup:hover::after{background-color:rgba(183, 28, 28, 0.8);}
.GOjup::after{content:"";background-color:rgba(183, 28, 28, 0.64);position:absolute;inset:0px;z-index:-1;border-radius:4px;transition:all 400ms ease 0s;}
.GOjup::before{content:"";background-image:url(https://img.swapcard.com?u=https%3A%2F%2Fcdn-api.swapcard.com%2Fpublic%2Fimages%2F4485bbd96e8b4db08f20869986d0bd43.png&q=0.8&h=100&m=crop);background-size:cover;background-position:center center;position:absolute;inset:0px;z-index:-2;border-radius:4px;}
@media screen and (min-width: 960px){
.GOjup{height:70px;}
}

/*! CSS Used from: Embedded */
div{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
.bMFJxi{cursor:pointer;height:66px;color:rgb(255, 255, 255);text-align:center;position:relative;z-index:0;transition:all 400ms ease 0s;padding:10px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;font-weight:600;}
.bMFJxi:hover{transform:scale(1.02);}
.bMFJxi:hover::after{background-color:rgba(255, 213, 79, 0.8);}
.bMFJxi::after{content:"";background-color:rgba(255, 213, 79, 0.64);position:absolute;inset:0px;z-index:-1;border-radius:4px;transition:all 400ms ease 0s;}
.bMFJxi::before{content:"";background-image:url(https://img.swapcard.com?u=https%3A%2F%2Fcdn-api.swapcard.com%2Fpublic%2Fimages%2F28b3b982557d4789809f3cca88bd92c7.png&q=0.8&h=100&m=crop);background-size:cover;background-position:center center;position:absolute;inset:0px;z-index:-2;border-radius:4px;}
@media screen and (min-width: 960px){
.bMFJxi{height:70px;}
}

/*! CSS Used from: Embedded */
div{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
.KkMXr{cursor:pointer;height:66px;color:rgb(255, 255, 255);text-align:center;position:relative;z-index:0;transition:all 400ms ease 0s;padding:10px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;font-weight:600;}
.KkMXr:hover{transform:scale(1.02);}
.KkMXr:hover::after{background-color:rgba(249, 167, 12, 0.8);}
.KkMXr::after{content:"";background-color:rgba(249, 167, 12, 0.64);position:absolute;inset:0px;z-index:-1;border-radius:4px;transition:all 400ms ease 0s;}
.KkMXr::before{content:"";background-image:url(https://img.swapcard.com?u=https%3A%2F%2Fcdn-api.swapcard.com%2Fpublic%2Fimages%2F07dfc06f4fe140e8b653bcdc45ed603f.png&q=0.8&h=100&m=crop);background-size:cover;background-position:center center;position:absolute;inset:0px;z-index:-2;border-radius:4px;}
@media screen and (min-width: 960px){
.KkMXr{height:70px;}
}

/*! CSS Used from: Embedded */
div{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
.hLjWgB{cursor:pointer;height:66px;color:rgb(255, 255, 255);text-align:center;position:relative;z-index:0;transition:all 400ms ease 0s;padding:10px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;font-weight:600;}
.hLjWgB:hover{transform:scale(1.02);}
.hLjWgB:hover::after{background-color:rgba(158, 158, 158, 0.8);}
.hLjWgB::after{content:"";background-color:rgba(158, 158, 158, 0.64);position:absolute;inset:0px;z-index:-1;border-radius:4px;transition:all 400ms ease 0s;}
.hLjWgB::before{content:"";background-image:url(https://img.swapcard.com?u=https%3A%2F%2Fcdn-api.swapcard.com%2Fpublic%2Fimages%2F2cc2f35fce564144b116c0a15d8fcfcf.png&q=0.8&h=100&m=crop);background-size:cover;background-position:center center;position:absolute;inset:0px;z-index:-2;border-radius:4px;}
@media screen and (min-width: 960px){
.hLjWgB{height:70px;}
}

/*! CSS Used from: Embedded */
div{margin:0px;padding:0px;border:0px;font:inherit;vertical-align:baseline;}
.cbgFjS{cursor:pointer;height:66px;color:rgb(255, 255, 255);text-align:center;position:relative;z-index:0;transition:all 400ms ease 0s;padding:10px;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;font-weight:600;}
.cbgFjS:hover{transform:scale(1.02);}
.cbgFjS:hover::after{background-color:rgba(0, 150, 136, 0.8);}
.cbgFjS::after{content:"";background-color:rgba(0, 150, 136, 0.64);position:absolute;inset:0px;z-index:-1;border-radius:4px;transition:all 400ms ease 0s;}
.cbgFjS::before{content:"";background-image:url(https://img.swapcard.com?u=https%3A%2F%2Fcdn-api.swapcard.com%2Fpublic%2Fimages%2Fbf4da831714242cdaab6fb8540069d2e.png&q=0.8&h=100&m=crop);background-size:cover;background-position:center center;position:absolute;inset:0px;z-index:-2;border-radius:4px;}
@media screen and (min-width: 960px){
.cbgFjS{height:70px;}
}





/*! CSS Used from: Embedded */


.csPnTA{display:grid;grid-template-columns:repeat(auto-fill, calc(50% - 8px));gap:16px;padding:16px;}
.hvtHcw{text-decoration:none;transition:all 100ms ease 0s;overflow-wrap:anywhere;color:rgb(93, 118, 139);}
.hvtHcw:hover{color:rgb(255, 50, 60);}






