{% load static%}
{% block slider %}
    <link rel="stylesheet" href=" {% static 'css/flexslider.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/font-awesome.css' %} ">
    <div class="flexslider">
		<ul class="slides p-0">
			<li>
                <picture>
                    <source media="(max-width: 320px)" type="image/svg+xml" srcset="{% static 'img/4.jpg' %}">
                    <source media="(min-width: 360px)" type="image/webp" srcset="{% static 'img/4.jpg' %}">
                    <img src="{% static 'img/4.jpg' %}" alt="">
                </picture>
			</li>
			<li>
				<img src="{% static 'img/7.jpg' %}"  alt="">
			</li>
			<li>
				<img src="{% static 'img/8.jpg' %}" alt="">
			</li>
		</ul>
	</div>
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script src="{% static 'js/jquery.flexslider.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
{% endblock %}